@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-left-open-1:before { content: '\e84b'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e84a'; } /* '' */
.icon-lamp:before { content: '\f4a1'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-rocket:before { content: '\f680'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-location-1:before { content: '\e833'; } /* '' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-cancel-circle:before { content: '\e818'; } /* '' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-menu:before { content: '\2630'; } /* '☰' */