////////////////////////////////////////////////////////////////////////////////
// BASE STYLES                                                                //
////////////////////////////////////////////////////////////////////////////////
* { box-sizing: border-box }

html {
	font-size: 14px; // all rems are relative to this number
	height: 100%; // sets the root container height to 100% of the viewport
}

body {
	margin: 0; // gets rid of the default margins on the top and left
	height: 100%; // sets the root container height to 100% of the root
}

a:link { text-decoration: none; } // Removes underline from hyperlinks

.choice-font {
	font-family: 'Lato', sans-serif; // Choices typeface
}

.chat-font {
	font-family: 'Unica One', cursive; // h1 typeface
}

// CLEAN UP SELECTORS BELOW THIS LINE 

.h1-main {
	font-size: 14vh;
	text-transform: uppercase;
	text-align: center;
}

.h1-embiggen {
	font-size: 24vh;
}