////////////////////////////////////////////////////////////////////////////////
// BASE STYLES                                                                //
////////////////////////////////////////////////////////////////////////////////
* { box-sizing: border-box }

html {
	font-size: 14px; // all rems are relative to this number
	height: 100%; // sets the root container height to 100% of the viewport
}

body {
	margin: 0; // gets rid of the default margins on the top and left
	height: 100%; // sets the root container height to 100% of the root
}

a:link { text-decoration: none; } // Removes underline from hyperlinks

h1 {
	font-family: 'Unica One', cursive; // h1 typeface
	font-size: 12vmin;
	text-transform: uppercase;
	text-align: center;
	color:	$brown25;
}

h2 { 						///	controls choice button font-size in portrait
	margin: 0; 				///	controls choice button font-size in portrait
	padding: 0; 			///	controls choice button font-size in portrait
	font-weight: normal;	///	controls choice button font-size in portrait
	font-size:	3vw;		///	controls choice button font-size in portrait
}

// CLEAN UP SELECTORS BELOW THIS LINE 

.h1-embiggen {
	font-size: 24vh;
}