////////////////////////////////////////////////////////////////////////////////
// COLOR PALLETES                                                             //
////////////////////////////////////////////////////////////////////////////////

	$blue-grey:				#626a75;			// Light Blue-Grey
	$parisian-blue:			#323a45;			// Dapper Blue Dark
	$pearl: 				#ede5e2;			// Pearl White
	$vermilion:				#ff5442;			// Dapper Red

////////////////////////////////////////////////////////////////////////////////
// GREY SCALE                                                                 //
////////////////////////////////////////////////////////////////////////////////
	
	$white:					#FFFFFF;			// White
	$grey-5	:				darken($white, 5%);	// 5% Black