/// To experiment use the _color-generator partial

////////////////////////////////////////////////////////////////////////////////
// RED                                                                        //
////////////////////////////////////////////////////////////////////////////////

$red-hue: 13deg;
$red-sat: 85%;

$red40: hsl($red-hue, $red-sat, 40);
$red45: hsl($red-hue, $red-sat, 45);

////////////////////////////////////////////////////////////////////////////////
// BROWN                                                                      //
////////////////////////////////////////////////////////////////////////////////

$brown-hue: 50deg;
$brown-sat: 10%;

$brown15: hsl($brown-hue, $brown-sat, 15);
$brown20: hsl($brown-hue, $brown-sat, 20);
$brown25: hsl($brown-hue, $brown-sat, 25);
$brown30: hsl($brown-hue, $brown-sat, 30);
$brown40: hsl($brown-hue, $brown-sat, 40);
$brown50: hsl($brown-hue, $brown-sat, 50);
$brown60: hsl($brown-hue, $brown-sat, 60);
$brown65: hsl($brown-hue, $brown-sat, 65);
$brown75: hsl($brown-hue, $brown-sat, 75);
$brown80: hsl($brown-hue, $brown-sat, 80);
$brown85: hsl($brown-hue, $brown-sat, 85);

////////////////////////////////////////////////////////////////////////////////
// BLUE                                                                       //
////////////////////////////////////////////////////////////////////////////////

$blue-hue: 215deg;
$blue-sat: 20%;

$blue10: hsl($blue-hue, $blue-sat, 10);
$blue20: hsl($blue-hue, $blue-sat, 20);
$blue30: hsl($blue-hue, $blue-sat, 30);
$blue35: hsl($blue-hue, $blue-sat, 35);
$blue40: hsl($blue-hue, $blue-sat, 40);
$blue50: hsl($blue-hue, $blue-sat, 50);
$blue60: hsl($blue-hue, $blue-sat, 60);
$blue85: hsl($blue-hue, $blue-sat, 85);
