///////////////////
///	FLEX LOOP	///
///////////////////

@for $flex-unit from 1 through 10 {
	.flex#{$flex-unit} {
		display: flex; flex: $flex-unit; 
	}
}

//////////////////////////////////////////////////

.column {
	@extend			.flex1;	///	flex1
	flex-direction:	column;	///	child boxes stack vertically in a column
}

	.column4 {
		@extend			.flex4;	/// flex4
		flex-direction:	column;	/// vertical stack of scene then choices
	}

.shell {
	@extend				.flex1;		///	flex1
	background-color:	$brown15;	/// dark brown (15 brightness)
	height:				100%;		/// makes for no scrolling
	padding:			1rem;		/// 14px
}

.blue-frame {
	@extend				.flex1;		/// flex1
	background-color:	$blue50;	/// background blue
	border-radius:		1rem;		/// rounded corners
	box-shadow:			0 .5rem 0 0 $blue10;	/// vertical, no blur, dark blue
	flex-direction:		column;		/// flexbox stacks vertically in a column
	padding:			1rem;		/// sets the size of the frame
}

///////////////
///	SCENES	///
///////////////

@mixin scene {
	@extend				.flex2;						/// 2/3 of the vertical
	border-radius:		.5rem;						/// smaller corners for inner containers, .5 instead of 1
	box-shadow:			inset 0 0.5rem 0 0 $blue20;	/// dark blue inner (inset) drop shadow
	margin-bottom:		1rem;						/// bottom margin set to keep from touching choices
}

///////////////////////////////////
///	SPACE ADVENTURE SCENE ITEMS	///
///////////////////////////////////

.scene__adventure {
	@include			scene;		///	sets the scene flex, border radius, shadow and bottom margin
	background-color:	$blue20;	/// background a bit darker due to being inset
	background-image: url(#{$svg-path}space-adventure__stars.svg);
}

.scene__adventure--astronaut-ryan-bg {
	@extend					.flex1;
	background-image: 		url(#{$svg-path}space-adventure__astronaut-ryan.svg);
	background-position:	bottom;
	background-repeat:		no-repeat;
	margin-top:				2vmin;	///	keep hat out of the inset shadow
}

.scene__adventure--planet-bg {
	@extend					.flex1;
	background-image:		url(#{$svg-path}space-adventure__planet.svg);
	background-position:	center;
	background-repeat:		no-repeat;
}

.scene__adventure--comet-bg {
	@extend					.flex1;
	background-image:		url(#{$svg-path}space-adventure__comet.svg);
	background-position:	center;
	background-repeat:		no-repeat;
}

.scene__adventure--chat-cloud {
	@extend				.flex3;					///	3/4 of the area is chat
	align-items:		center;					///	vertically align text
	justify-content:	center;					/// centers text on the x axis
	background-color:	$blue60;				/// space is dark. the chat clouds are too
	border-radius:		1rem;					///	absolute rounded corners
	padding:			1vmin;					///	relative to keep text from fighting with edges
	margin:				3vmin 0 3vmin 3vmin;	/// no right margin
}

.scene__adventure--chat-arrow {
	@extend					.flex1;
	background-image: 		url(#{$svg-path}space-adventure__chat-arrow.svg);
	background-position:	center;
	background-repeat:		no-repeat;
}

///////////////
///	CHOICES	///
///////////////
	

.choices {
	@extend				.flex1;						/// container fills all space
	background-color:	$blue30;
	border-radius:		.5rem;						/// smaller corners for inner containers, .5 instead of 1
	box-shadow:			inset 0 0.5rem 0 0 $blue20;	/// dark blue inner (inset) drop shadow
	padding:			1rem;						/// sets the size of the frame
	/// _meda-queries.scss orientation changes this to column
}

.choices__button {
	@extend				.flex1; /// button fills the box
	align-items:		center;	/// centers text on the y axis
	background-color:	$blue40;
	margin:				.3rem;
	box-shadow:			0 0.3rem 0 0 $blue20;	/// lower than choices to reflect less lighting, also not inset
	border-radius:		.5rem;
	justify-content:	center;	/// centers text on the x axis
	color:				$blue70;
}

	.choices__button:hover {
		background-color:	$blue35;
		box-shadow:			none;	/// removes the front of the button (dropshadow)
	}

.bioware-style-conversation-wheel {
	@extend	.flex1;	/// button fills the box
	///	this selector hides when in portrait (media_queries.scss)
}