// DETECT ORIENTATION

@media all and (orientation: portrait) {
	.h1-main {
		font-size: 7vmin;
	}

	.choices {
		flex-direction: column;
	}


	h2 {
	font-size:	5vw;	///	controls choice button font-size in portrait 
	}

	.bioware-style-conversation-wheel {
		display: none; // hides conversation wheel when the screen is taller vertically than horizontally
	}
}

@media all and (orientation: landscape) {
	.h1-main {
		font-size: 7vw;
	}
}

