// DETECT ORIENTATION

@media all and (orientation: portrait) {
	.h1-main {
		font-size: 7vmin;
	}

	.choices {
		flex-direction: column;
	}

	.choices__button {
	font-size:	5vw;
}

	.hide {
		display: none; // HIDES SELECTOR ON PORTRAIT
	}
}

@media all and (orientation: landscape) {
	.h1-main {
		font-size: 7vw;
	}
}

