// DETECT ORIENTATION

@media all and (orientation: portrait) {
	.h1-main {
		font-size: 7vmin;
	}

	.choices {
		flex-direction: column;
	}

	.choices__button {
	font-size:	5vw;
}

	.bioware-style-conversation-wheel {
		display: none; // hides conversation wheel when the screen is taller vertically than horizontally
	}
}

@media all and (orientation: landscape) {
	.h1-main {
		font-size: 7vw;
	}
}

