@mixin flex($flexunit) {					///	set flex-grow / flex-shrink / basis
	display: 	flex;
	flex:		$flexunit;
}

@mixin h1 {
	font-family:	'Unica One', cursive;	///	cursive fallback if font fails
	text-transform:	uppercase;				///	uppercase
	text-align:		center;					///	horizontally centered
	margin:			0;						///	no margin
	padding:		0;						///	no padding
}