@mixin flex1 {
	display:	flex;	// so strong
	flex:		1;		// relative unit of 1
}

@mixin flex2 {
	display:	flex;	// so strong
	flex:		2;		// relative unit of 1
}

@mixin flex4 {
	display:	flex;	// so strong
	flex:		4;		// relative unit of 1
}