////////////////////////////////////////////////////////////////////////////////
// NAVIGATION                                                                 //
////////////////////////////////////////////////////////////////////////////////
.nav {
	display: flex;
	background-color: $vermilion;
	height: 60px;
	margin: 0;
	padding: 1em 0 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav__logo {
	justify-content: flex-start;
	font-size: 1.3em;
	margin: 0 .6em 0 1.5em;
	background-color: $parisian-blue;
}

.nav__menu {

	justify-content: flex-end;
	list-style-type: none;
	background-color: $parisian-blue;
}

