////////////////////////////////////////////////////////////////////////////////
// NAVIGATION                                                                 //
////////////////////////////////////////////////////////////////////////////////
.flex-nav {
  display:          flex;
}

.flex-nav__parent {
  justify-content:  space-between;
  background-color: $parisian-blue;
  align-items:		center;
  position:         fixed;
  top:              0;
  width:            100%;
}

.flex-nav__logo {
	height: 		38px;
}

.cell {
  margin: .25em;
  padding: 1em; 
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  align-self: center; //vertically centers company name
}

