
.h1__12 {								///	chat cloud type
	@include		h1;
	font-size:		12vmin;
}

.h1__10 {								///	chat cloud type
	@include		h1;
	font-size:		10vmin;
}

.h1__8 {								///	chat cloud type
	@include		h1;
	font-size:		8vmin;
}

.h1__6 {								///	chat cloud type
	@include		h1;
	font-size:		7vmin;
}

.h2__3{ 								///	chat button type
	@include	h2;
	font-size:	3vw;
}