body {
	background-color: #323a45;
	font-size: 5vmax;
	margin: 0;
}

section {
	background-color:	#ff5442;
	color:	#ede5e2;
	text-align: center;
}

@media all and (orientation: portrait) {
	section {
		height: 90vmax;	
		width: 90vmin;
	}
}

@media all and (orientation: landscape) {
	section {
		height: 90vmin;	
		width: 90vmax;
	}
}




