* { box-sizing: border-box }

body {
	margin: 0;
}

section {
	background-color:	#323a45;
	color:	#fff;
}

@media all and (orientation: portrait) {
	section {
		height: 100vmax;	
	}
}

@media all and (orientation: landscape) {
	section {
		height: 100vmin;	
	}
}




